<script>
    $(function() {				
                // orders_for_table(0);
                // orders_for_table(1);
                // pizza_table();
                table_orders(0);
                table_orders(1);
                table_orders(2);
                update_order_input();
                
	});
</script>


<h2>Hello</h2>


<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Product</th>
      <th scope="col">Amount</th>     
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>pizza 1</td>
      <td><input id="pizza1_amount" class="form-control me-2" type="text" name="table_amount" value="" /></td>      
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>pizza 2</td>
      <td><input id="pizza2_amount" class="form-control me-2" type="text" name="table_amount" value="" /></td>       
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>pizza 3</td>  
      <td><input id="pizza3_amount" class="form-control me-2" type="text" name="table_amount" value="" /></td>        
    </tr>
  </tbody>
</table>

<h3>Total: amount1*price1 + amount2*price2 + amount3*price3 BTC<span style="font-size: 12px;"> (not less than 10000)</span></h3>

<hr />
<br />

<label><h3>Order form</h3></label>
<br />
<br />
<form action="/order" method="POST" role="form">

  <div class="form-group">
    <label>Name</label>
    <input name="order[name]" type="text" class="form-control" placeholder="Your name" value="" />
  </div>

  <div class="form-group">
    <label>Phone</label>
    <input name="order[phone]" type="text" class="form-control" placeholder="Your phone" value="" />
  </div>
  <div class="form-group">
    <label>Address</label>
    <input name="order[address]" type="text" class="form-control" placeholder="Your adress" value="" />
  </div>
  <div class="form-group">
    <label>Products</label>
    <input id="products_order_input" name="order[products]" type="text" class="form-control" value="" />
  </div>

    <br />
  <button type="submit" class="btn btn-primary">Order</button>

</form>