<h2>Welcome to Pizza Shop!</h2>
<h3>We sell only for Bitcoins*</h3>
<h6>* 10000 BTC is the minimum order</h6>

<button class="btn btn-primary btn-lg" onclick="something()">Click the Button!</button>

